#header-top  {
	
	.v-app-bar{
		background-color: transparent;
		border-radius: 0;
		position: absolute;
	}

	.v-select 
	{
		.v-icon{
			-webkit-transform: rotate(0);
   			transform: rotate(0);
		}
	}
}

