.horizontal-line {
    overflow: hidden;
    text-align: center;
}
.horizontal-line:before,
.horizontal-line:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.horizontal-line:before {
    right: 0.5em;
    margin-left: -50%;
}
.horizontal-line:after {
    left: 0.5em;
    margin-right: -50%;
}

.status-bike{
    width: 70px;
}

.table{
    white-space: nowrap;
}

.border-bottom{
    border-bottom: 1px ridge;
}


@media screen and (max-width: 768px) {
.mobile table tr {
max-width: 100%;
position: relative;
display: block;
}

.mobile table tr:nth-child(odd) {
border-left: 6px solid deeppink;
}

.mobile table tr:nth-child(even) {
border-left: 6px solid cyan;
}

.mobile table tr td {
display: flex;
width: 100%;
border-bottom: 1px solid #f5f5f5;
height: auto;
padding: 10px;
}

.mobile table tr td ul li:before {
content: attr(data-label);
padding-right: 1.5em;
text-align: left;
display: block;
color: #999;
}
.v-datatable__actions__select
{
width: 50%;
margin: 0px;
justify-content: flex-start;
}
.mobile .theme--light tbody tr:hover:not(.v-datatable__expand-row) {
background: transparent;
}

}
.table .flex-content {
  padding: 0!important;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.table .flex-item {
  padding: 5px;
  width: 100%;
  height: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  display: inherit;
}

